.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "header"
            "announcement"
            "main"
            "footer";
    background-color: #fff;
    max-width: 1200px;
    margin: auto;
}


.site-header {
    grid-area: header;
    padding-bottom: 20px;
    background-color: #5b5d4b;
    color: #ffffff;

}
.site-announcement {
    grid-area: announcement;
    padding-bottom: 20px;
}


.site-main {
    grid-area: main;
    background-color: #fff;
    max-height: 800px;
}
.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mb-3{
    text-align: center;
}

.intro {
    position: relative;
}


@media (min-width: 1200px) {
    .intro .intro-text {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .intro .intro-img {
        top: 0%;
        width: 75%;
        float: right;
        padding-bottom: 100px;

    }
    .intro .intro-text {
        top: 0%;
        left: 0%;
        width: 70%;
        margin-top: 2rem;
        position: absolute;
        padding-bottom: 100px;
    }
    .intro .intro-text .intro-button {
        width: 100%;
        left: 25%;
        position: absolute;
        bottom: -6rem;
        padding-bottom: 100px;
    }
}
.section-heading {
    text-transform: uppercase;
}

.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

.section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}
.btn {
    -webkit-box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
    box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
    background-color: #e6a756;
    border-color: #e6a756;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #df902a;
    border-color: #df902a;
}

.site-footer {
    grid-area: footer;

}